mat-form-field {
    width: 100%;
    margin-top: 1.5rem;
}

mat-card {
    margin-bottom: 20px;
    padding: 1.5rem;
}

button[mat-icon-button] {
    margin: 10px;
}

mat-slide-toggle {
    margin: 10px 0;
}