a {
    display: flex;
    justify-content: center; /* Center the icon horizontally */
    align-items: center; /* Center the icon vertically */
    width: 72px;
    text-align: center;
    margin-bottom: 1rem;
}

a mat-icon {
    font-size: 24px;
    transition: color 0.3s;
}

a.nav-colored-item mat-icon {
    background: linear-gradient(90deg, #dd0031, #ea4c89, #7044af, #0086ff);
    background-size: 200%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientMove 10s infinite linear;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}