@if (navItem().onClickAction) { 
    <a mat-list-item 
        [matTooltip]="navItem().tooltip" 
        [routerLink]="navItem().route" 
        routerLinkActive="nav-active-item"
        [ngClass]="{'nav-colored-item': navItem().coloredIcon}"
        (click)="navItem().onClickAction?.()"
        *appHasRole="navItem().requiredRoles"
        >
        <mat-icon>{{ navItem().icon }}</mat-icon>
    </a>
}
@else { 
    <a mat-list-item 
        [matTooltip]="navItem().tooltip" 
        [routerLink]="navItem().route" 
        routerLinkActive="nav-active-item"
        [ngClass]="{'nav-colored-item': navItem().coloredIcon}"
        *appHasRole="navItem().requiredRoles"
        >
        <mat-icon>{{ navItem().icon }}</mat-icon>
    </a>
}