<nav class="nav-rail">
    <mat-nav-list>
        @if (!mobileView()) {
            <a class="brand" routerLink="home">
                Logo
            </a>
        }
        @for (navItem of navTopItems; track navItem.tooltip) {
            <app-nav-item 
            [navItem]="navItem"
            (mouseenter)="toggleSidenav('hover', navItem)"
            (click)="toggleSidenav('click', navItem)"
            ></app-nav-item>
        }
    </mat-nav-list>
    <div class="spacer"></div>
    <mat-nav-list class="bottom-nav">
        @for (bottomNavItem of navBottomItems; track bottomNavItem.tooltip) {
            <app-nav-item 
            [navItem]="bottomNavItem"
            (mouseenter)="toggleSidenav('hover', bottomNavItem)"
            (click)="toggleSidenav('click', bottomNavItem)"
            ></app-nav-item>
        }
    </mat-nav-list>
</nav>