.nav-rail {
  position: fixed;
  width: 105px;
  height: 100vh;
  background-color: #ffffff; /* Adjust to match Material 3 design */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  z-index: 1000;
}

.nav-rail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bottom-nav {
  margin-bottom: 2rem;
}

.brand {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits the parent element's color */
  cursor: pointer; /* Ensures it still looks like a link */
  margin-bottom: 2rem; /* Adds space below */
}

.brand:hover {
  text-decoration: none; /* Keeps it without underline on hover */
  color: inherit; /* Keeps the color the same on hover */
}

.spacer { 
  flex: 1 0 auto;
}