
<div class="container">
    @if(currUserData()) {
        <mat-card class="center-card-container">
            <mat-card-header>
                <mat-card-title>
                    <h1>{{ currUserData().name }}</h1>
                </mat-card-title>
            </mat-card-header>
                <app-dynamic-form [questions]="questions$ | async" (submitEvent)="onSave($event)">
                    <mat-card-actions>
                        <button mat-fab extended color="primary" type="submit">Save</button>
                    </mat-card-actions>
                </app-dynamic-form>
        </mat-card>
    }
</div>