mat-form-field {
    width: 100%;
    margin-top: 1.5rem;
}

mat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 1.5rem;
}

button[mat-raised-button] {
    width: 100%;
}

mat-slide-toggle {
    margin: 10px 0;
}


.new-article-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-article-content-wrapper > * { 
  width: 90%; 
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two cards per row on desktop */
  grid-gap: 1rem; /* Gap between cards */
  margin-bottom: 2rem; /* Space at the bottom */
}



.button-row {
  display: flex;
  align-items: center;
}

.spacer {
  flex-grow: 1;  /* Push the third button to the right */
}

quill-editor {
  min-height: 300px;
  // max-height: 250px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  overflow: auto;  // Make sure it doesn't overflow
}
  /* Media query for smartphones (max width of 768px) */
  @media (max-width: 768px) {
    .button-row {
      flex-direction: column;  /* Stack buttons on top of each other */
    }
  
    .button-row button {
      width: 100%;  /* Ensure buttons take up full width */
      margin: 0.5rem 0;  /* Adjust margin for stacked buttons */
    }

    .card-container {
      grid-template-columns: 1fr; /* One card per row on mobile */
    }

    .new-article-content-wrapper > * { 
      width: 100%; 
    }

    .img-preview {
      width: 100px;  /* Make the image smaller on mobile */
    }
  }