/* Top bar for mobile */
.top-bar {
  display: none;
  justify-content: start;
  align-items: center;
  padding: 0 16px;
  height: 64px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

/* Base container for desktop view */
.base-container {
  margin-left: 105px;
  height: 100vh;
  width: calc(100% - 105px);
}

mat-sidenav-content {
  padding: 2rem;
  max-height: 100%;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .top-bar {
    display: flex;
  }

  /* Mobile container when navbar is closed */
  .mobile-container-nav-closed {
    margin-left: 0;
    margin-top: 64px;
    height: 100vh;
    width: 100vw;
  }

  /* Mobile container when navbar is open */
  .mobile-container-nav-open {
    margin-left: 105px;
    margin-top: 64px;
    height: 100vh;
    width: calc(100% - 105px);
  }

  mat-sidenav {
    width: 75vw;
    max-width: 100vw;
  }

  mat-sidenav-content {
    padding: 0.65rem;
    max-height: 95%;
  }

  .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

