/* Make sure the app-navbar is fixed and doesn't take up space in the document flow */
app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 105px;
  height: 100vh;
  z-index: 1000;
}

/* Adjust the sidenav-container to account for the navbar's width */
.base-container {
  margin-left: 105px;
  height: 100vh;
  width: calc(100% - 105px);
}

/* Ensure that the mat-sidenav is not overlapping with the navbar */  
mat-sidenav {
  margin-top: 0; /* Adjust this if you have a top navbar */
  width: 20vw; /* % of the viewport width */
  max-width: calc(100vw - 105px); /* Ensures the sidenav never overlaps beyond available space */
}

/* Adjust mat-sidenav-content to avoid overlap */
mat-sidenav-content {
  padding: 20px;
}


h1 {
  background: linear-gradient(90deg, #dd0031, #ea4c89, #7044af, #0086ff);
  background-size: 200%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientMove 10s infinite linear;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container { 
  padding: 1.65rem;
}

mat-sidenav-content { 
  padding: 0;
}

@media (max-width: 768px) {
  /* Adjust the sidenav width for smaller screens */
  mat-sidenav {
    width: 100vw;
    max-width: calc(100vw - 105px);
  }
  .container { 
    padding: 0.5rem;
  }
}
