<button mat-raised-button [routerLink]="['../','new-article']" style="margin: 1rem;">
    <mat-icon>add</mat-icon>
    New article
</button>
<!-- <mat-paginator
    [length]="blogsLength"
    [pageSizeOptions]="[6, 10, 20]"
    [pageSize]="pageSize"
    [showFirstLastButtons]="true"
    (page)="onPageChange($event)"
>
</mat-paginator> -->

@if (blogPosts().length > 0) {
    <div class="blog-list">
        @for (blog of blogPosts(); track blog) {
            <app-blog-thumbnail [blog]="blog"></app-blog-thumbnail>
        }
    </div>
}
@else {
    <div class="no-blogs">
        <h2>No blogs found</h2>
        <p>It looks like there are no blog posts available at the moment. Please come back later.</p>
    </div>
}