<button mat-raised-button [routerLink]="['../','new-article']" style="margin: 1rem;">
    <mat-icon>add</mat-icon>
    New article
</button>
<mat-paginator
    [length]="blogsLength"
    [pageSizeOptions]="[6, 10, 20]"
    [pageSize]="pageSize"
    [showFirstLastButtons]="true"
    (page)="onPageChange($event)"
>
</mat-paginator>
    <div class="blog-list">
        @for (blog of paginatedBlogs(); track blog.id) {
            <app-blog-thumbnail [blog]="blog"></app-blog-thumbnail>
        }
</div>