.blog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; /* Gap between blog thumbnails */
    padding: 0.65rem; /* Padding for the whole list */
    // justify-content: ;
    align-items: stretch; /* Ensure all thumbnails stretch to the same height */
  
    /* For desktop view (default) */
    app-blog-thumbnail {
      flex: 1 1 30%; /* Each blog-thumbnail will take 30% width */
      max-width: 30%;
      display: flex;
      flex-direction: column; /* Allows thumbnail content to stretch with the available height */
    }
  
    /* For mobile view */
    @media (max-width: 768px) {
      padding: 0.65rem; /* Smaller padding on mobile */
      gap: 1rem; /* Smaller gap between blog thumbnails */
  
      app-blog-thumbnail {
        flex: 1 1 100%; /* Make each blog-thumbnail take full width */
        max-width: 100%;
      }
    }
  }

  .no-blogs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh; /* Set height to center vertically */
    text-align: center;
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .no-blogs h2 {
    font-size: 1.75rem;
    background: linear-gradient(90deg, #dd0031, #ea4c89, #7044af, #0086ff);
    background-size: 200%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientMove 10s infinite linear;
    margin-bottom: 1rem;
    animation: bounceIn 0.6s ease-in-out;
  }

  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .no-blogs p {
    font-size: 1.1rem;
    color: var(--md-sys-color-secondary);
    margin-bottom: 2rem;
  }

  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes bounceIn {
    0% {
      transform: translateY(-30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }